@font-face {
	font-family: tf2;
	src: url("/css/tf2.ttf");
}

@font-face {
	font-family: tf2Bold;
	src: url("/css/tf2build.ttf");
}
  
 body {
	background-color: #264AB5;
	font-family: calibri;
}

#container {
	background-color: white;
	border: 2px solid black;
	border-radius: 15px;
	box-shadow: 5px 5px 8px #000;
	margin: 10px auto 0 auto;
	width: 980px;
}

	#top {
		padding: 10px;
		position: relative;
	}
	
		#top h1 {
			font-size: 50px;
			text-align: center;
			font-family: tf2;
		}
	
		#user {
			position: absolute;
			top: 10px;
			right: 10px;
		}
	
	#nav {
		background-color: #B3C2FF;
		border-bottom: 1px solid #264AB5;
		list-style-type: none;
	}
		#nav li {
			display: block;
			float: left;
			padding: 2px 10px;
		}
			#nav li a {
				color: black;
				font-family: tf2Bold;
				font-size: 16px;
				font-weight: bold;
				text-decoration: underline;
			}
	
	#content {
		padding: 10px;
	}
	#gameLayout #content {
		background-color: #EDF0FF;
		padding: 0;
	}
	
		#flash {
			background-color: #E6FFEB;
			border: 1px solid green;
			margin: 0 0 10px 10%;
			padding: 5px;
			text-align: center;
			width: 80%;		
		}
		
		#stats {
			float: left;
			padding: 10px 5px;
			width: 100px;
		}
		
		#gameContent {
			background-color: #FFFFFF;
			border-color: #B3C2FF;
			border-width: 0px 1px 1px 1px;
			border-style: solid;
			float: left;
			padding: 10px;
			min-height: 300px;
			width: 680px;
		}
		
		#friends {
			float: left;
			padding: 10px 5px;
			width: 150px;
		}
		
		#chat {
			clear: both;
			padding: 10px;
			height: 200px;
		}
		
			#chat iframe {
				border: none;
				height: 200px;
				margin-left: 50px;
				width: 800px;
			}
	
	#footer {
		border-top: 1px solid grey;
		font-size: 11px;
		padding: 2px 0;
		text-align: center;
	}

body .clear {
	font-size: 0px;
	line-height: 0px;
	clear: both !important;
}

a, a:visited, a:active {
	color: #225EB3;	
}

a:hover {
	color: #000000;
}

h2 {
	font-size: 14px;
	text-align: left;
	font-weight: bold;
	font-family: tf2Bold;
	border-bottom: 1px solid black;
	padding: 10px 0 0px 5px;
	margin-bottom: 5px;
}

#friendsList {
	max-height: 400px;
	overflow-y: auto;
}

	#friendsList .friend {
		border: 1px solid #B3C2FF;
		border-bottom: none;
		padding: 3px 5px;
		position: relative;
	}
		#friendsList .friend.online {
			color: #397837;		
		}
	
		#friendsList .friend.away {
			color: #8A2C2C;
		}
	#friendsList .friend:last-child {
		border: 1px solid #B3C2FF;
	}
	
		#friendsList .friend a {
			display: block;
			position: absolute;
			right: 1px;
			top: 1px;
		}